@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: blue;
  --background-start-rgb: green;
  --background-end-rgb: orange;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: blue;
    --background-start-rgb: green;
    --background-end-rgb: orange;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: blue;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
