@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme(colors.primaryText);
  background: theme(colors.background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  a {
    color: theme(colors.hyperlink);
  }
}

@layer components {
  .mobile-transaction-row {
    @apply flex w-full justify-between items-center h-7 px-3;
  }
}
